<div class="board">
  <section class="column">
    <h2>À Faire</h2>
    <div class="list">
      @for(fiche of fichesToDo(); track fiche.id) {
        <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>

  <section class="column">
    <h2>En Cours</h2>
    <div class="list">
      @for(fiche of fichesInProgress(); track fiche.id) {
        <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>

  <section class="column">
    <h2>Terminé</h2>
    <div class="list">
      @for(fiche of fichesDone(); track fiche.id) {
        <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>
</div>