<div class="header-actions">
  <button class="btn-create" (click)="toggleModal()">+ Nouvelle Fiche</button>
</div>

<div class="board">
  <section class="column">
    <h2>À Faire</h2>
    <div class="list">
      @for(fiche of fichesToDo(); track fiche.id) {
      <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>

  <section class="column">
    <h2>En Cours</h2>
    <div class="list">
      @for(fiche of fichesInProgress(); track fiche.id) {
      <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>

  <section class="column">
    <h2>Terminé</h2>
    <div class="list">
      @for(fiche of fichesDone(); track fiche.id) {
      <app-fiche [fiche]="fiche"></app-fiche>
      }
    </div>
  </section>
</div>

@if (isModalOpen()) {
<div class="modal-backdrop" (click)="toggleModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Créer une fiche</h2>
      <button class="btn-close" (click)="toggleModal()">×</button>
    </div>
    <app-fiche-form-create (afterSubmit)="toggleModal()"></app-fiche-form-create>
  </div>
</div>
}