/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --bg-dark: oklch(0.1 0 180);
  --bg: oklch(0.15 0 180);
  --bg-light: oklch(0.2 0 180);
  --text: oklch(0.96 0 180);
  --text-muted: oklch(0.76 0 180);
  --highlight: oklch(0.5 0 180);
  --border: oklch(0.4 0 180);
  --border-muted: oklch(0.3 0 180);
  --primary: oklch(0.76 0.1 180);
  --secondary: oklch(0.76 0.1 0);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);

  /* Spacing */
  --spacing-xs: 0.25rem; // 4px
  --spacing-sm: 0.5rem; // 8px
  --spacing-md: 1rem; // 16px
  --spacing-lg: 1.5rem; // 24px
  --spacing-xl: 2rem; // 32px

  /* Font Size */
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.25rem; // 20px
  --font-size-xl: 1.5rem; // 24px

  /* Divers */
  --border-radius: 10px;
  --font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
